$font_color:#fff;
$ui_accent:#538a9a;
$gradient_start:#4e7a89;
$graident_end:#2e3441;

body{
    background: $graident_end;
    background-image: -webkit-radial-gradient(top, circle cover, $gradient_start, $graident_end 80%);
    background-image: -moz-radial-gradient(top, circle cover, $gradient_start, $graident_end 80%);
    background-image: -o-radial-gradient(top, circle cover, $gradient_start, $graident_end 80%);
    background-image: radial-gradient(top, circle cover, $gradient_start, $graident_end 80%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.signin{
    avatar_size : 100px;
    profile_padding : 20px;
    display: block;
    position: relative;
    width: 350px;
    margin: 20px auto;
    padding: profile_padding;
    background-color: rgba(0,0,0, 0.1);

    .avatar{
    width: avatar_size;
    height: avatar_size;
    margin: 0 auto 35px auto;
    border: 5px solid #fff;
    }
    &:before{
    content: "\f272";
    text-align: center;
    font-family: Ionicons;
    display: block;
    height: 100%;
    line-height: avatar_size;
    font-size: 5em;
    }
}