div{
    // background-color: greenyellow;
    // border-color: cyan;
    // border:1px;
    // border-style: solid;
    // color:purple;
    height:40px;
    margin: auto;
}


// .anounce{
//     background-color: aqua;
// }
.caption{
    font-size:14px; 
    color:orange
}
// .form_eria{
//     background-color: aquamarine;
// }