{% extends 'WorkApp/template.html' %}
{% block body_content %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<h2 style="font-family:sans-serif; font-size:20px;">令和４年度-請求項目別-収支一覧</h2>
<div>&nbsp;</div>
<div style="width: 80%;">
    <canvas id="mychart-bar"></canvas>
  </div>
<script>
var ctx = document.getElementById('mychart-bar');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    
    {% autoescape off %}
    
    labels:{{ dict.li1 }},
    
    datasets: [{
        label: '請求合計額',
        data: [{{ dict.Kaisetsu }},
        {{ dict.MC }},
        {{ dict.Director }},
        {{ dict.Staff }},
        {{ dict.VisionDirector }},
        {{ dict.SoundDirector }},
        {{ dict.HP }},
        {{dict.Machine }},
        {{ dict.Goods }},
        {{ dict.Jikyo }},],
    backgroundColor: ['cyan','cyan','lime','lime','lime','lime','lime','silver','silver','cyan'],
    }, 
    {
    label: '支払総額',
    data: [{{ dict.Kaisetsu_2 }},
        {{ dict.MC_2 }},
        {{ dict.Director_2 }},
        {{ dict.Staff_2 }},
        {{ dict.VisionDirector_2 }},
        {{ dict.SoundDirector_2 }},
        {{ dict.HP_2 }},
        {{dict.Machine_2 }},
        {{ dict.Goods_2 }},
        {{ dict.Jikyo_2 }},],
    backgroundColor: '#FF9933',
},
    {% endautoescape %}],
},
    options: {
        responsive:true,
        scales: {         // 軸設定
            xAxes: [           // Ｘ軸設定
                {
                    scaleLabel: {   // 軸ラベル
                      fontColor :'cyan'
                    },
                    gridLines: {    // 目盛線
                        color:'rgb(40,40,40)'
                    },
                    ticks: {        // 目盛り
                        fontColor:'yellow',
                        // fontSize:20
                    },
                }
            ],
            yAxes: [  
                {
                    scaleLabel: {   // 軸ラベル
                        fontColor :'cyan'
                    },
                    gridLines: {    // 目盛線
                        color:'rgb(40,40,40)'
                    },
                    ticks: {        // 目盛り
                        fontColor:'yellow',
                        // fontSize:24
                    },
                }         // Ｙ軸設定 
            ]
        }
  }});    
</script>

{% endblock %}