{% extends 'WorkApp/template.html' %}
{% block body_content %}
<p>input.html</p>
<p>dd</p>
<p>dddd</p>
<p>dddd</p>
<p>ddd</p>
<p></p>
<p></p>
<p></p>
<p></p>
<table class='tb'>
  {% for i in dict.0 %}
      <th>{{ i }}</th>
  {% endfor %}
  {% for i in dict %}
  <tr>
          <td>{{ i.id }}</td>
          <td>{{ i.title }}</td>
          <td>{{ i.syusai }}</td>
          <td>{{ i.start_day }}</td>
          <td>{{ i.end_day }}</td>
          <td>{{ i.price }}</td>
  </tr>
  {% endfor %} 
</table>
<div style="margin-top: 20px;">
    <h2>入力画面</h2>
  </div>
  <form method="POST" class="register-form ">{% csrf_token %}
    <div class="row" style="margin-top:30px;">
      <div class="range col-lg-6 offset-md-3">
        <input type="text" name="id">
        <input type="text" name="series">
        <input type="text" name="syusai">
        <input type="date" name="start_day">
        <input type="date" name="end_day">
        <input type="text" name="price">
      </div>
    </div>
  
  <!-- 送信（保存）ボタン-->
    <button type="submit" class="save btn btn-danger offset-md-3" style="margin-top: 30px;">入力</button>
  </form>

{% endblock %}