{% extends 'WorkApp/template.html' %}
{% load static %}
{% block header %}
  {% static 'WorkApp/style3.css' %}
{% endblock %}
{% block body_content %}

<div class="toperia"></div>
  <form method="POST" class="register-form" enctype="multipart/form-data">{% csrf_token %}
    <div style="margin-top:30px;"><input name="texteria1" type="text"></input></div>
    <div style="margin-top:30px;"><input name="texteria2" type="text"></input></div>
    <div class="row" style="margin-top:30px;">
      <div class="range col-lg-6">
        <input name="fileon" multiple="multiple" type="file" style="font-size:14px;" class="btn btn-warning">
      </div>
    </div>
  
  <!-- 送信（保存）ボタン-->
    <button type="submit" class="save btn btn-danger" style="margin-top: 30px;">送信</button>
  </form>

{% endblock %}