{% extends 'WorkApp/template.html' %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>


{% endblock %}
{% block body_content %}

<iframe src="https://calendar.google.com/calendar/embed?src=yamatomedia2017%40gmail.com&ctz=Asia%2FTokyo" id="calendar"></iframe>

<div class="testa"><p>test</p></div>

    {% for i in database.Series %}
        <p>{{ i.title }}</p>
        <p>{{ i.start_day }}</p>
        <p>{{ i.end_day }}</p>
      <p>---------------------</p>
    {% endfor %}


{% endblock %}