{% extends 'WorkApp/template.html' %}
{% block body_content %}

<p>{{ dict.monthlist }}</p>
<p>{{ dict }}</p>
<div class="canvas" style="width:100%">
    <canvas id="canvas"></canvas>
</div>
<script>
var ctx = document.getElementById('mychart-bar');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Sun', 'Mon', 'Tue'],
    datasets: [{
      label: 'Red',
      data: [25, 35, 40],
      backgroundColor: '#f88',
    }, {
      label: 'Green',
      data: [20, 10, 30],
      backgroundColor: '#484',
    }, {
      label: 'Blue',
      data: [30, 20, 15],
      backgroundColor: '#48f',
    }],
  },
});    
</script>
<style>
    .canvas{
        position:relative;
        height:70%;
        /* overflow:hidden; */
    } 
</style>  
{% endblock %}