{% extends 'WorkApp/template.html' %}
{% block body_content %}
<p>test</p>


<table class='tb'>
    {% for i in dict.0 %}
    
        <th>{{ i }}</th>
    
    {% endfor %}
    
    {% for i in dict %}
    <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.syusai }}</td>
            <td>{{ i.start_day }}</td>
            <td>{{ i.end_day }}</td>
            <td>{{ i.price }}</td>
    </tr>
    {% endfor %} 
    
 
</table>
{% comment %} <style>
    .tb{
        border-collapse: collapse;
    }
    .tb td{
        border: 0.5px solid #ff7500;
    }
    .tb th{
        border: 0.5px solid #ff7500;
    }
</style> {% endcomment %}

{% endblock %}