{% extends 'WorkApp/template.html' %}
{% block body_content %}

<p>{{ dict.monthlist }}</p>
<p>{{ dict }}</p>
<div style="width:1000px">
    <canvas id="mychart-bar"></canvas>
  </div>
<script>
var ctx = document.getElementById('mychart-bar');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {{ dict.monthlist }},
    datasets: [{
      label: 'Red',
      data: [1,2,3,4,5,6,7,8,9,10,11,12],
      backgroundColor: '#f88',
    }, {
      label: 'Green',
      data: [1,2,3,4,5,6,7,8,9,10,11,12],
      backgroundColor: '#484',
    },],
  },
});    
</script>
<style>
    .canvas{
        position:relative;
        height:70%;
        /* overflow:hidden; */
    } 
</style>  
{% endblock %}