{% extends 'WorkApp/template.html' %}
{% block body_content %}
<p>test</p>


<table class='test'>

    {% comment %} {% for key,value in dict.items %} {% endcomment %}
        {% comment %} <th>{{ key }}</th>      {% endcomment %}
        <th>
            {% for i in value %}
                <td>{{ i }}</td>
            {% endfor %}
        </th>
    {% comment %} {% endfor %} {% endcomment %}
</table>
<style>
    .test{
        border-collapse: collapse;
    }
    .test td{
        border: 1px solid #ff7500;
    }
    .test th{
        border: 1px solid #ff7500;
    }
</style>

{% endblock %}