{% extends 'WorkApp/template.html' %}
{% block body_content %}
<p>test</p>


<table class='test'>
    <tr>
    {% for i in dict.items %}
        <th>
            {{ i.0 }}
        </th>
    {% endfor %}
    </tr>
    <tr>
    {% for i in dict.items %}
        <td>
            {{ i.1 }}
        </td>
    {% endfor %}
    </tr>
    <tr>
    {% for i in dict.items %}
    <td>
        {{ i.2 }}
    </td>
    {% endfor %}    
    </tr>
</table>
<style>
    .test{
        border-collapse: collapse;
    }
    .test td{
        border: 1px solid #ff7500;
    }
    .test th{
        border: 1px solid #ff7500;
    }
</style>

{% endblock %}