{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block header %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    
    <link rel="stylesheet" href="{% static 'WorkApp/style1.css' %}">
    <script src="{% static 'WorkApp/script1.js' %}"></script>
</head>

<body>

    <div id="wrapper">
        <p class ="btn-gnavi">
            <span></span>
            <span></span>
            <span></span>
            </p>
        <nav id="global-navi" style="height:45px;">
            <ul class="menu">     
                <li><a href="/page1">page1</a></li>
                <li><a href="/output">output</a></li>
                <li><a href="/input">input</a></li>
                <li><a href="/input2">input2</a></li>
                <li><a href="/page2">page2</a></li>
                <li><a href="/page3">page3</a></li>
                <li><a href="/delete">delete</a></li>
                <li class="login"> 
                {% if user.is_authenticated %}
                    <span style="font-size:15px; text-align: right; width: 300px;">
                        <a href="{% url 'logout' %}" style="color:red; text-decoration: underline;">
                        ログイン中
                        </a>
                    </span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    

    {% block body_content %}
        
    {% endblock %}
</body>
</html>